<IfModule mod_php7.c>
   php_value memory_limit 256M
   php_value max_execution_time 259200
   php_value max_input_time 259200
</IfModule>
<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
